:root {
  --color-bg-primary: #353433;
  --color-bg-darker: #272625;
  --color-fg-primary: #f9e7c4;
  --color-fg-secondary: #f0c674;

  color: var(--color-fg-primary);
  background-color: var(--color-bg-primary);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
  margin: 0;
}

main {
  width: 75vw;
  margin: auto;
  margin-top: 2vh;
  border-left: 1px solid var(--color-bg-darker);
  border-right: 1px solid var(--color-bg-darker);
  min-height: 96vh;
}

h1 {
  text-align: center;
}

p {
  margin: 10px;
}

a {
  color: var(--color-fg-secondary);
}
